<div style="display: flex;">
  <div style="width: 25%;height: 800px; padding: 5px;">
    <!-- <div *ngFor="let node of nodes" style="width: 100%; height: 50px; background-color: #777; margin-bottom: 5px;" (dragstart)="startDrag($event, node)"
      draggable="true">{{node.name}}</div> -->
    <div *ngFor="let node of nodes" style="width: 100%; height: 50px; background-color: #777; margin-bottom: 5px;"
      pNodeitem [data]="node">{{node.name}}</div>
  </div>
  <div style="width: 74%;">
    <app-flowchart [data]="graph" (onNodeDoubleClick)="nodeDbClick($event)" (onNodeSelected)="nodeSelected($event)"
      (onDeleted)="nodeDeleted($event)" (onNodeClicked)="nodeClick($event)" (onAddNode)="addNode($event)"
      (onConnectionSelected)="connectionSelected($event)"></app-flowchart>
  </div>
</div>